* {
margin: 0px;
padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

body {
text-align: center;
}

#agrupar {
width: 960px;
margin: 15px auto;
text-align: left;
background: black;
}

#cabecera {
background: black;
border: 0px solid #999999;
padding: 20px;
text-align : center;
position: relative;
z-index:2;
}

#paginas {
background: black;
padding: 1px 15px;
text-align: right;
position: relative;
z-index:2;
}
#paginas li {
display: inline-block;
list-style: none;
padding: 1px;
}
#paginas2 {
background: black;
padding: 1px 15px;
text-align: center;
}
#paginas2 li {
display: inline-block;
list-style: none;
padding: 1px;
}

#menu {
    width: 960px;
	padding-left:20px;
    background: black;
    padding: 0px 0px;
    text-align: center;
}

#menu lu{

}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 0px 0px;
}

#menu li a{
    width:180px;
	height:20px;
	/*background:url(../imagenes/fondo-boton.png) no-repeat;*/
	background: white;
	text-shadow: rgb(black) 5px 5px 7px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:px;
	color:black;
	text-align:center;
	text-decoration:none;
	margin-right:0px;
	padding-top:40px;
	padding: 10px 0px;	
}

#menu li a:hover{
	background: black;
	color:white; 
	text-shadow:rgb(white) 5px 5px 7px;
	
}

#img {
  width: 317px;
  height: 200px;
  border: 2px black;
  padding: 10px 0px;
}

#titulo{
   font: bold 12px verdana, sans-serif; 
   color: white;
   }

#pie{
   width:960px
   background: black;
   text-align: center;
}
   
.panelprincipal{
   width:960px;
   height:350px;
   background:black;
   display:flex;
   
}

.panelsecundario1>a{
   color:red;
   font-size: 20px;
   padding: 30px;
   text-decoration:none;
}

.panelsecundario1{
   width:250px;
   height:330px;
   background:white;
   border-left: 20px solid #000000;
   border-right: 1px solid black;
}

.panelsecundario2{
   width:660px;
   height:330px;
   background:white;
}

.texto2{
   color:red;
   font-size:40px;
}

#texto3{
   background:red;
   color:white;
   font-size:20px;
   padding:10px 150px 10px 5px;
  
}
#texto4{
   background:red;
   color:white;
   font-size:20px;
   padding:10px 75px 10px 5px;
   
}
#texto5{
   background:white;
   color:black;
   font-size:17px;
   padding:10px 125px 10px 0px;
 
}

#texto6{
   background:white;
   color:black;
   font-size:17px;
   padding:10px 117px 10px 5px;
  
}

.formulario1{
   background: #B3A0A0;
   padding: 0px 10px 0px 20px;
   width: 620px;
   border-radius:20px:
}

 .formulario2{
   background: #B3A0A0;
   padding: 10px 10px 10px 20px;
   width: 620px;
   border-radius:20px:
} 
  
.formulario3{
   background: #B3A0A0;
   padding: 10px 10px 10px 20px;
   width: 620px;
   border-radius:20px:
}   

.boton{
   
   padding: 20px 10px 10px 300px;
   width: 620px;
   border-radius:20px:
}   