* {
margin: 0px;
padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

body {
text-align: center;
}

#agrupar {
width: 960px;
margin: 15px auto;
text-align: left;
background: black;
}

#cabecera {
background: black;
border: 0px solid #999999;
padding: 20px;
text-align : center;
}

#paginas {
background: black;
padding: 1px 15px;
text-align: right;
}
#paginas li {
display: inline-block;
list-style: none;
padding: 1px;
}
#paginas2 {
background: black;
padding: 1px 15px;
text-align: center;
}
#paginas2 li {
display: inline-block;
list-style: none;
padding: 1px;
}

#menu {
    width: 960px;
	padding-left:20px;
    background: black;
    padding: 0px 0px;
    text-align: center;
}

#menu lu{

}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 0px 0px;
}

#menu li a{
    width:180px;
	height:20px;
	/*background:url(../imagenes/fondo-boton.png) no-repeat;*/
	background: white;
	text-shadow: rgb(black) 5px 5px 7px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:px;
	color:black;
	text-align:center;
	margin-right:0px;
	padding-top:40px;
	padding: 10px 0px;	
}

#menu li a:hover{
	background: black;
	color:white; 
	text-shadow:rgb(white) 5px 5px 7px;
	
}

#img {
  width: 317px;
  height: 200px;
  border: 2px black;
  padding: 10px 0px;
}

#titulo{
   font: bold 12px verdana, sans-serif; 
   color: white;
   }

#pie{
   width:960px
   background: black;
   text-align: center;
}
   

   
