* {
margin: 0px;
padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

body {
text-align: center;
}

#agrupar {
width: 71.5%;
margin: 15px auto;
text-align: left;
background: black;
}

#body{
width:100%;
}

#cabecera {
background: black;
border: 0px solid #999999;
padding: 0px;
text-align : center;
position: relative;
 z-index: 2; 
 width:100%;
 
}

#paginas {
width:100%;
background: black;
padding: 0.104166% 0px;
text-align: right;
position: relative;
 z-index: 2; 
}

#paginas li {
display: inline-block;
list-style: none;
padding: 0.104166%;
position: relative;
}

#paginas2 {
width:100%;
background: black;
padding: 0.104166% 0x;
text-align: center;
}

#paginas2 li {
display: inline-block;
list-style: none;
padding: 0.104166%;
}

#menu {
    width:100%;
	padding-left:2.0833333%;
    background: black;
    padding: 0px 0px;
    text-align: center;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 0px 0px;
}

#menu li a{
    width:180px;
	height:20px;
	/*background:url(../imagenes/fondo-boton.png) no-repeat;*/
	background: white;
	text-shadow: rgb(black) 5px 5px 7px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:px;
	color:black;
	text-align:center;
	text-decoration:none;
	margin-right:0px;
	padding-top:40px;
	padding: 10px 0px;	
}

#menu li a:hover{
	background: black;
	color:white; 
	text-shadow:rgb(white) 5px 5px 7px;
	
}

#img {
  width: 33.02083333% ;
  height: 20.8333333% auto;
  
}

#titulo{
   font: bold 12px verdana, sans-serif; 
   color: white;
   }

#pie{
   width:100%;
   background: black;
   text-align: center;
}

#section{
   width:100%;
}

#footer{
   width:100%;
}

#article{
    width:100%;
}
   

/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#agrupar{ width:100%}
	#body{ width:100%}
	#section{width:100%}
	#footer{width:100%}
	#article{width:100%}
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#agrupar{ width:100%}
	#body{ width:100%}
	#section{width:100%}
	#footer{width:100%}
	#article{width:100%}
	#img{width:32.0000%}
	#menu{width:100%}
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#agrupar{ width:100%}
	#body{ width:100%}
	#section{width:100%}
	#footer{width:100%}
	#article{width:100%}
	#img{width:32.0000%}
	#menu{width:100%}
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	#agrupar{ width:100%}
	#body{ width:100%}
	#section{width:100%}
	#footer{width:100%}
	#article{width:100%}
	#img{width:32.0000%}
	#menu{width:100%}
	
}



.panelprincipal{
   width:960px;
   height:600px;
   background:black;
   display:block;
   border-left:30px solid black inset;
   border-right:30px solid black inset;
}

.panelsecundario1{
   width:880px;
   height:150px;
   background:#B3A0A0;
   border-left:30px solid black ;
   border-right:30px solid black;
}

.panelsecundario2{
   width:880px;
   height: 480;
   background:#B3A0A0;
   border-left:30px solid black ;
   border-right:30px solid black t;
}

.texto2{
   color:red;
   font-size:40px;
   padding:10px 10px 10px 40px;
}

.texto3{
   color:black;
   font-size:20px;
   padding:10px 10px 10px 40px;
}

.boton{
   
   background:#B3A0A0;
   border-left:30px solid black ;
   border-right:50px solid black ;
   padding:20px 40px 20px 150px;
}

   
